# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Laravel-specific file settings
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Files to be ignored when exporting repository
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore